---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";

interface Props {
  frontmatter: {
    id?: string;
    category?: string;
    pubDate?: string | Date;
    title?: string;
    overview?: string;
    releaseDate?: string | Date;
    genres?: Array<string>;
    poster?: string;
    director?: string;
    casts?: Array<string>;
  };
}

const { frontmatter } = Astro.props;

const metadata = {
  pageTitle: frontmatter.title!,
  description: frontmatter.overview!,
  ogType: "article",
  ogArticlePubTime: new Date(frontmatter.pubDate!).toLocaleDateString(),
  ogArticleAuthors: ["Faisal M."],
  ogArticleSection: frontmatter.category!,
  ogArticleTags: [frontmatter.category!],
};
---

<BaseLayout metadata={metadata}>
  <h1>{frontmatter.title}</h1>
  <h2>Release Date</h2>
  <time
    datetime={new Date(frontmatter.releaseDate!).toLocaleDateString("en-US")}
    >{new Date(frontmatter.releaseDate!).getFullYear()}</time
  >

  <h2>Genre</h2>
  <p>{frontmatter.genres!.map(String).join(", ")}</p>

  <!-- movie poster -->
  <Image
    src={frontmatter.poster!}
    alt={`${frontmatter.title} poster`}
    width={500}
    height={750}
  />

  <h2>Director</h2>
  <p>{frontmatter.director}</p>

  <h2>Cast</h2>
  <p>{frontmatter.casts!.map(String).join(", ")}</p>

  <h2>Overview</h2>
  <p>{frontmatter.overview}</p>

  <h2>My Take</h2>
  <slot />
</BaseLayout>
