---
import { getTopTracks } from "../../lib/spotify";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";

const tracks = await getTopTracks();

const lastUpdated = new Date().toLocaleString("en-US", {
  timeZone: "Asia/Jakarta",
  dateStyle: "medium",
  timeStyle: "short",
});

const metadata = {
  pageTitle: "Chart",
  description: "My current Spotify heavy rotation. Updated daily.",
};
---

<BaseLayout metadata={metadata}>
  <h1>Chart</h1>
  <p><small>Last updated: {lastUpdated}</small></p>
  <ol>
    {
      tracks.map((track) => (
        <li>
          <a href={track.url} target="_blank">
            {track.name}
          </a>
          <p>
            {track.artists
              .map((artist: { name: string }) => artist.name)
              .join(", ")}
          </p>
          <Image
            src={track.album.image.url}
            alt={`${track.album.name}'s cover.`}
            width={track.album.image.width}
            height={track.album.image.height}
          />
        </li>
      ))
    }
  </ol>
</BaseLayout>
