---
import { getTopTracks } from "../../lib/spotify";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";

const tracks = await getTopTracks();

const lastUpdated = new Date().toLocaleString("en-US", {
  timeZone: "Asia/Jakarta",
  dateStyle: "medium",
  timeStyle: "short",
});

const metadata = {
  pageTitle: "Chart",
  description: "My current Spotify heavy rotation. Updated daily.",
};
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-article mx-auto flex w-[65ch] max-w-full flex-col px-4 lg:px-0"
  >
    <h1>Chart</h1>
    <p>My current Spotify heavy rotation. Updated daily.</p>
    <ol class="spacing-y-article flex flex-col">
      {
        tracks.map((track, id) => (
          <li>
            <a
              href={track.url}
              target="_blank"
              class="group flex flex-row items-start gap-8"
            >
              <div class="relative">
                <span class="text-secondary-emphasize group-hover:text-primary absolute font-bold transition-all duration-300 ease-in-out">
                  {id + 1}.
                </span>
              </div>

              <div class="flex w-full items-start justify-between gap-4">
                <div>
                  <h2 class="group-hover:text-primary text-base transition-all duration-300 ease-in-out">
                    {track.name}
                  </h2>
                  <p class="group-hover:text-primary transition-all duration-300 ease-in-out">
                    {track.artists
                      .map((artist: { name: string }) => artist.name)
                      .join(", ")}
                  </p>
                </div>

                <Image
                  src={track.album.image.url}
                  alt={`${track.album.name}'s cover.`}
                  width={track.album.image.width}
                  height={track.album.image.height}
                  class="rounded-sm"
                />
              </div>
            </a>
          </li>
        ))
      }
    </ol>
    <p><small>Last updated: {lastUpdated}</small></p>
  </main>
</BaseLayout>
