---
import BaseLayout from "@layouts/BaseLayout.astro";
import Summary from "@components/Summary.astro";
import LatestPost from "@components/LatestPost.astro";
import { getCollection } from "astro:content";
import { getMovies } from "../../lib/tmdb";
import siteDetails from "../siteDetails";

const social = await getCollection("social");
const allProgrammingPosts = (
  await getCollection("programming", ({ data }) => {
    return import.meta.env.PROD ? data.published === true : true;
  })
).map((post) => ({
  id: `/programming/${post.id}`,
  title: post.data.title,
  pubDate: post.data.pubDate,
  category: post.data.category,
}));
const allGeneralPosts = (
  await getCollection("general", ({ data }) => {
    return import.meta.env.PROD ? data.published === true : true;
  })
).map((post) => ({
  id: `/blog/${post.id}`,
  title: post.data.title,
  pubDate: post.data.pubDate,
  category: post.data.category,
}));
const movies = await getCollection("movies", ({ data }) => {
  return import.meta.env.PROD ? data.published === true : true;
});
const imdbIds = movies.map((movie) => movie.data.imdbId);
const allMoviePosts = (await getMovies(imdbIds)).map((post) => ({
  id: `/movies/${post.id}`,
  title: post.title,
  pubDate: post.pubDate,
  category: post.category,
}));

const allPosts = [
  ...allProgrammingPosts,
  ...allGeneralPosts,
  ...allMoviePosts,
].sort((a, b) => b.pubDate!.valueOf() - a.pubDate!.valueOf());

const metadata = {
  pageTitle: siteDetails.title,
  description: siteDetails.description,
};
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-loosest mx-auto flex w-[112ch] max-w-full flex-col px-4 lg:px-0"
  >
    <Summary social={social} />

    {
      allPosts.length > 0 ? (
        <LatestPost allPosts={allPosts} />
      ) : (
        <div class="h-[50vh]">
          <p>Sorry, there are no posts yet. Please come back later 😉.</p>
        </div>
      )
    }
  </main>
</BaseLayout>
