---
interface Props {
  placeholder: string;
  url: string;
}

const currentRoute = Astro.url.pathname;
const { placeholder, url } = Astro.props;
---

<a
  id="nav-link"
  href={url}
  class={`text-secondary-default before:content-[] relative font-medium capitalize transition-all duration-300 ease-in-out before:absolute before:top-[26px] before:block before:h-1 before:w-full before:rounded-full before:bg-secondary-emphasize before:opacity-0 before:transition-all before:duration-300 before:ease-in-out ${currentRoute.startsWith(url) ? "active-nav-link" : ""}`}
>
  {placeholder}
</a>
<!-- <a
  id="nav-link"
  data-route={url}
  class={`border-secondary-emphasize text-secondary-emphasize rounded-full border bg-transparent px-6 py-0.5 font-medium capitalize transition-all duration-300 ease-in-out ${currentRoute.startsWith(url) ? "active-nav-link" : ""}`}
  href={url}>{placeholder}</a
> -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelectorAll("#nav-link");
    const activeNavLink = document.querySelector(".active-nav-link");

    let hovered: Element | null = null;

    navLinks.forEach((navLink) => {
      navLink.addEventListener("mouseenter", () => {
        if (activeNavLink) activeNavLink.classList.remove("active-nav-link");
        navLink.classList.add("active-nav-link");
        hovered = navLink;
      });

      navLink.addEventListener("mouseleave", () => {
        navLink.classList.remove("active-nav-link");
        if (!hovered || hovered === navLink) {
          if (activeNavLink) activeNavLink.classList.add("active-nav-link");
        }
      });
    });
  });
</script>
