---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import CommentForm from "@components/CommentForm.astro";
import Comment from "@components/Comment.astro";
import { getCollection, render } from "astro:content";
import { date } from "astro:schema";

interface Props {
  frontmatter: {
    id?: string;
    category?: string;
    pubDate?: string | Date;
    title?: string;
    overview?: string;
    releaseDate?: string | Date;
    genres?: Array<string>;
    poster?: string;
    director?: string;
    casts?: Array<string>;
  };
}

const { frontmatter } = Astro.props;

const metadata = {
  pageTitle: frontmatter.title!,
  description: frontmatter.overview!,
  ogType: "article",
  ogArticlePubTime: new Date(frontmatter.pubDate!).toLocaleDateString(),
  ogArticleAuthors: ["Faisal M."],
  ogArticleSection: frontmatter.category!,
  ogArticleTags: [frontmatter.category!],
};

const slug = Astro.url.pathname.replace(/^\/+|\/+$/g, "");

const getComments = async () => {
  const commentFiles = await getCollection("comments");
  return commentFiles.filter((file) => file.id.includes(slug));
};

const comments = await getComments();

const renderedComments = await Promise.all(
  comments.map(async (comment) => {
    const { Content } = await render(comment);
    return {
      data: comment.data,
      Content,
    };
  }),
);
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-article mx-auto flex max-w-[65ch] flex-col px-4 md:px-0"
    data-pagefind-body
  >
    <!-- Date and genre -->
    <div class="flex justify-center">
      <time
        datetime={new Date(frontmatter.releaseDate!).toLocaleDateString(
          "en-US",
        )}
        class="mr-2">{new Date(frontmatter.releaseDate!).getFullYear()}</time
      >
      <span class="text-secondary-default">•</span>
      <p class="ml-2">{frontmatter.genres!.map(String).join(", ")}</p>
    </div>

    <!-- Title -->
    <h1 class="text-center">{frontmatter.title}</h1>

    <!-- movie poster -->
    <Image
      src={frontmatter.poster!}
      alt={`${frontmatter.title} poster`}
      inferSize
      layout="full-width"
      style="width: 100%; height: auto; object-fit: cover;"
      class="rounded-md"
    />

    <div>
      <div class="spacing-y-article flex flex-col">
        <!-- Director -->
        <div>
          <h2 class="text-base font-normal">Director</h2>
          <p>{frontmatter.director}</p>
        </div>

        <!-- Casts -->
        <div>
          <h2 class="text-base font-normal">Cast</h2>
          <p>{frontmatter.casts!.map(String).join(", ")}</p>
        </div>

        <!-- Overview -->
        <div class="gap-y-0">
          <h2 class="text-base font-normal">Overview</h2>
          <p>{frontmatter.overview}</p>
        </div>
      </div>

      <!-- Author take -->
      <div class="spacing-y-article flex flex-col pt-12">
        <h2>My Take</h2>
        <article class="prose">
          <slot />
        </article>
      </div>
    </div>
  </main>
  <!-- Comment section -->
  <div
    class="spacing-y-article border-t-tertiary-default mx-auto flex w-[65ch] max-w-full flex-col border-t px-4 pt-8 md:px-0"
  >
    <h4>Comments</h4>
    <div class="spacing-y-article flex flex-col">
      {
        renderedComments.map(({ data, Content }) => (
          <Comment comment={data}>
            <Content />
          </Comment>
        ))
      }
    </div>
  </div>

  <!-- Comment form -->
  <div class="mx-auto w-[65ch] max-w-full px-4 md:px-0">
    <CommentForm />
  </div>
</BaseLayout>
