---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import CommentForm from "@components/CommentForm.astro";

interface Props {
  frontmatter: {
    id?: string;
    category?: string;
    pubDate?: string | Date;
    title?: string;
    overview?: string;
    releaseDate?: string | Date;
    genres?: Array<string>;
    poster?: string;
    director?: string;
    casts?: Array<string>;
  };
}

const { frontmatter } = Astro.props;

const metadata = {
  pageTitle: frontmatter.title!,
  description: frontmatter.overview!,
  ogType: "article",
  ogArticlePubTime: new Date(frontmatter.pubDate!).toLocaleDateString(),
  ogArticleAuthors: ["Faisal M."],
  ogArticleSection: frontmatter.category!,
  ogArticleTags: [frontmatter.category!],
};
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-article mx-auto flex max-w-[65ch] flex-col px-4 md:px-0"
    data-pagefind-body
  >
    <!-- Date and genre -->
    <div class="flex justify-center">
      <time
        datetime={new Date(frontmatter.releaseDate!).toLocaleDateString(
          "en-US",
        )}
        class="mr-2">{new Date(frontmatter.releaseDate!).getFullYear()}</time
      >
      <span class="text-secondary-default">•</span>
      <p class="ml-2">{frontmatter.genres!.map(String).join(", ")}</p>
    </div>

    <!-- Title -->
    <h1 class="text-center">{frontmatter.title}</h1>

    <!-- movie poster -->
    <Image
      src={frontmatter.poster!}
      alt={`${frontmatter.title} poster`}
      inferSize
      layout="full-width"
      style="width: 100%; height: auto; object-fit: cover;"
      class="rounded-md"
    />

    <div>
      <div class="spacing-y-article flex flex-col">
        <!-- Director -->
        <div>
          <h2 class="text-base font-normal">Director</h2>
          <p>{frontmatter.director}</p>
        </div>

        <!-- Casts -->
        <div>
          <h2 class="text-base font-normal">Cast</h2>
          <p>{frontmatter.casts!.map(String).join(", ")}</p>
        </div>

        <!-- Overview -->
        <div class="gap-y-0">
          <h2 class="text-base font-normal">Overview</h2>
          <p>{frontmatter.overview}</p>
        </div>
      </div>

      <!-- Author take -->
      <div class="spacing-y-article flex flex-col pt-12">
        <h2>My Take</h2>
        <article class="prose">
          <slot />
        </article>
      </div>
    </div>
  </main>
  <div class="mx-auto w-[65ch] max-w-full px-4 md:px-0">
    <CommentForm />
  </div>
</BaseLayout>
