---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import CommentForm from "@components/CommentForm.astro";
import Comment from "@components/Comment.astro";
import { getCollection, render } from "astro:content";

interface Props {
  movie: {
    id: string;
    category: string;
    pubDate: Date;
    title: string;
    overview: string;
    releaseDate: string;
    genres: Array<string>;
    poster: string;
    directors: Array<string>;
    casts: Array<string>;
  };
}

// passing movie data
const { movie } = Astro.props;

// create metadata for SEO from movie data
const metadata = {
  pageTitle: movie.title,
  description: movie.overview,
  ogType: "article",
  ogArticlePubTime: new Date(movie.pubDate).toLocaleDateString(),
  ogArticleAuthors: ["Faisal M."],
  ogArticleSection: movie.category,
  ogArticleTags: [movie.category],
};

// get slug from current url
const slug = Astro.url.pathname.replace(/^\/+|\/+$/g, "");

// get comments for the current movie post based on the slug obtained previously
const getComments = async () => {
  const commentFiles = await getCollection("comments");
  return commentFiles.filter((file) => file.data.postName === slug);
};
const comments = await getComments();

// render all comments for the current post
const renderedComments = await Promise.all(
  comments.map(async (comment) => {
    const { Content } = await render(comment);
    return {
      data: comment.data,
      Content,
    };
  }),
);
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-article mx-auto flex max-w-[65ch] flex-col px-4 md:px-0"
    data-pagefind-body
  >
    <!-- date and genre -->
    <div class="flex justify-center">
      <time
        datetime={new Date(movie.releaseDate).toLocaleDateString("en-US")}
        class="mr-2">{new Date(movie.releaseDate).getFullYear()}</time
      >
      <span class="text-secondary-default">•</span>
      <p class="ml-2">{movie.genres.map(String).join(", ")}</p>
    </div>

    <!-- title -->
    <h1 class="text-center">{movie.title}</h1>

    <!-- movie poster -->
    <Image
      src={movie.poster}
      alt={`${movie.title} poster`}
      inferSize
      layout="full-width"
      style="width: 100%; height: auto; object-fit: cover;"
      class="rounded-md"
    />

    <div>
      <div class="spacing-y-article flex flex-col">
        <!-- director -->
        <div>
          <h2 class="text-base font-normal">Director</h2>
          <p>{movie.directors.map(String).join(", ")}</p>
        </div>

        <!-- casts -->
        <div>
          <h2 class="text-base font-normal">Cast</h2>
          <p>{movie.casts.map(String).join(", ")}</p>
        </div>

        <!-- overview -->
        <div class="gap-y-0">
          <h2 class="text-base font-normal">Overview</h2>
          <p>{movie.overview}</p>
        </div>
      </div>

      <!-- author take -->
      <div class="spacing-y-article flex flex-col pt-12">
        <h2>My Take</h2>
        <article class="prose">
          <slot />
        </article>
      </div>
    </div>
  </main>

  <!-- comment form -->
  <div class="mx-auto w-[65ch] max-w-full px-4 md:px-0">
    <CommentForm />
  </div>

  <!-- comment section -->
  <div
    class="spacing-y-article border-t-tertiary-default mx-auto flex w-[65ch] max-w-full flex-col border-t px-4 pt-8 md:px-0"
  >
    <h4>Comments</h4>
    <div class="spacing-y-article flex flex-col">
      {
        renderedComments.map(({ data, Content }) => (
          <Comment comment={data}>
            <Content />
          </Comment>
        ))
      }
    </div>
  </div>
</BaseLayout>
